# Ignore everything by default
*

# Allow specific files
!app.py
!requirements.txt
!config_server_template.ini

# Allow the `.gitignore` file itself
!.gitignore

# Unignore directories first, then their contents
!templates/
!static/

# Ensure contents of directories are also tracked
!templates/**
!static/**
